[2019-10-21 07:30] calvinyv opened #1 "Investigate and design basic GPU features and scenarios"
1. the monitoring should have specific metrics related to GPU resource
2. The workload scheduler should provide GPU specified input

some others, like project quota...etc

[2020-03-30 06:56] Forest-L opened #18 "How to change the mode of alerting module installation to chart mode"
Welcome to the discussion, Current installation instructions for alerting module:
1. Rely on redis, mysql, and etcd.
2. Perform rolebinding of ks-alerting.
3. Perform the two job files that contains  alerting-db-init-job.yaml and alerting-db-ctrl-job.yaml.
4. Perform the four deployment files that contains 1-executor.yaml、2-watcher.yaml、3-manager.yaml and 4-client.yaml.
5. The address of the relev

[2020-03-31 07:48] Forest-L commented on #18
/discussion

[2020-04-08 06:34] FeynmanZhou opened #34 "Contribute to KubeSphere Blogs"
As we mentioned last week, we expect every one of the community contributes an English blog to us. These blogs will be published on the official website and some other media channels. You can write them based on your skilled part.

We suggest you to start with a couple of pain points regarding the current technical state, then elaborate on the solutions or capabilities provided by KubeSphere. `Why

[2020-04-14 03:03] rayzhou2017 commented on #34
I will write a blog regarding the architecture of 4.0 after 3.0 released.

[2020-04-18 06:25] shaowenchen commented on #18
/assign @Forest-L

[2020-04-18 09:09] shaowenchen commented on #18
/assign @shaowenchen

[2020-04-19 14:16] FeynmanZhou opened #52 "How to set up KubeSphere core's configuration"
The step of [set up KubeSphere core's configuration](https://github.com/kubesphere/community/blob/master/developer-guide/development/how-to-run-kubesphere-core.md#4-set-up-kubesphere-cores-configuration) is too vague, the file `kubesphere.yaml` and  the directory `/etc/kubesphere` are never mentioned in the context, how to set up the configuration?

[2020-04-19 14:17] FeynmanZhou commented on #52
/assignee @zryfish @wansir

[2020-04-19 14:21] FeynmanZhou commented on #52
@shaowenchen The Prow robot seems on vacation.

[2020-04-19 14:27] hadoop835 commented on #52
@FeynmanZhou  Can you provide the following documents ?  /etc/kubesphere

[2020-04-20 04:26] shaowenchen commented on #52
/assign @zryfish @wansir

[2020-04-20 04:27] shaowenchen commented on #52
@FeynmanZhou  It‘s /assign，not /assignee

[2020-04-20 04:43] shaowenchen commented on #18
/unassign @shaowenchen

[2020-04-20 06:58] FeynmanZhou commented on #52
Thanks, it works.

[2020-04-22 06:36] xuhua912 commented on #52
Excuse me, which folder is the /assign directory, and how to find the kubesphere.yaml file

[2020-04-22 06:37] xuhua912 commented on #52
Excuse me, which folder is the /assign directory, and how to find the kubesphere.yaml file

[2020-04-22 10:53] xuhua912 opened #57 "Build controller-manager image error"
### The environment
centos 7.7
kubesphere 2.1.1
docker 19.03.8

###  controller-manager Dockerfile
`FROM golang:1.12 as controller-manager-builder

COPY / /go/src/kubesphere.io/kubesphere
WORKDIR /go/src/kubesphere.io/kubesphere

RUN CGO_ENABLED=0 GO111MODULE=on GOOS=linux GOARCH=amd64 GOFLAGS=-mod=vendor go build --ldflags "-extldflags -static" -o controller-manager ./cmd/controller-manager/

FRO

[2020-04-22 10:58] xuhua912 commented on #57
`FROM golang:1.12 as controller-manager-builder

COPY / /go/src/kubesphere.io/kubesphere
WORKDIR /go/src/kubesphere.io/kubesphere

RUN CGO_ENABLED=0 GO111MODULE=on GOOS=linux GOARCH=amd64 GOFLAGS=-mod=vendor go build --ldflags "-extldflags -static" -o controller-manager ./cmd/controller-manager/

FROM alpine:3.7
RUN echo -e "https://mirrors.ustc.edu.cn/alpine/latest-stable/main\nhttps://mirrors.us

[2020-04-22 10:59] xuhua912 commented on #57
`
# docker build -f build/ks-controller-manager/Dockerfile -t harbor.belle.net.cn:8443/ks-controller-manager:2.1.1 .
Sending build context to Docker daemon  141.6MB
Step 1/8 : FROM golang:1.12 as controller-manager-builder
 ---> ffcaee6f7d8b
Step 2/8 : COPY / /go/src/kubesphere.io/kubesphere
 ---> ce4ec5aec998
Step 3/8 : WORKDIR /go/src/kubesphere.io/kubesphere
 ---> Running in 653b62e681e8
Removi

[2020-05-13 02:29] rayzhou2017 opened #81 "sig-multitenancy docs needed"
1. the general idea
2. arch
3. key points
4. how to contribute

Please refer to the sig-obervability doc

[2020-05-18 06:39] calvinyv opened #85 "Proposal: roadmap plan between kata container and KubeSphere"
Setup a roadmap between kata container and KubeSphere

[2020-05-18 06:39] calvinyv commented on #85
/assign @pixiake @Forest-L

[2020-05-18 06:40] calvinyv commented on #85
@sig-installer

[2020-05-18 06:50] calvinyv opened #86 "Proposal: evaluate the integration with nginx plus"
Here's comparison list among

https://github.com/nginxinc/kubernetes-ingress/blob/master/docs/nginx-ingress-controllers.md

we need to evaluate the possibility of integrating Nginx ingress solution and related effort.

[2020-05-18 07:21] shaowenchen opened #87 "php s2i example needed"
1. build a s2i-php-container
2. add to KubeSphere
3. how to use it

save to sig-devops/examples/how-to-add-s2i-php-container.md

/documentation

[2020-05-18 07:42] calvinyv commented on #86
/assgin @zackzhangkai

[2020-05-18 10:40] FeynmanZhou commented on #85
I remember there were some integration issues for static Pod and DaemonSet under `host` network mode. How to resolve this issue, or any workarounds?

[2020-06-14 04:04] FeynmanZhou opened #93 "Account is always logged out in demo.kubesphere.io"
Each account has this abnormal phenomenon in demo.kubesphere.io, how to solve it? BTW, the demo environment is v2.1.0.
![image](https://user-images.githubusercontent.com/40452856/84584441-12332f00-ae37-11ea-86a9-c36ed71df39b.png)

[2020-06-14 04:05] FeynmanZhou commented on #93
/cc @wansir

[2020-06-14 07:33] wansir commented on #93
Multi login is enabled now.

[2020-06-14 07:38] FeynmanZhou commented on #93
@wansir  It seems this issue is not caused by others logging in. Every time when I log in, it instantly reminds me someone has logged in this account.

[2020-06-24 14:50] aclk opened #100 "An Network Error occurred while Connect to remote service with Telepresence"
[code]

`kubesphere.yaml` is located below:
[code]

`kubesphere.yaml` content as below:
[code]

Test Telepresence with KubeSphere apigateway:
[code]

[2020-06-24 16:38] aclk commented on #100
Refer to bbs, and try again.
[code]

[2020-07-06 07:07] #93 closed

[2020-07-07 10:05] gzlj opened #108 "Host ks cannot enter the member ks."
Host ks cannot enter the member ks.
导入了一个集群，但是鼠标指向集群，点击详细的时候，弹出"会话超时或此账户在其它地方登录，请重新登录"。

[2020-07-07 10:08] rayzhou2017 commented on #108
Did you follow the guide to enable the clusterRole of the member cluster to `member`? https://github.com/kubesphere/community/tree/master/sig-multicluster/how-to-setup-multicluster-on-kubesphere

[2020-07-07 10:09] rayzhou2017 commented on #108
On the member cluster, change the role.
kubectl edit cc ks-installer -n kubesphere-system

[2020-07-11 09:20] #108 closed

[2020-07-11 09:21] gzlj commented on #108
thank you. Now I have a host cluster and a member cluster.

[2020-07-29 06:51] zys0505 opened #118 "How to build KubeSphere local"
https://github.com/kubesphere/community/tree/master/developer-guide/development#for-kubesphere-core-local-development-building
What does the second part mean about Use command make to build binary？

How to build KubeSphere local？

[2020-08-14 06:21] zackzhangkai opened #134 "kubesphere hardware configuration"

[2020-08-14 06:34] Forest-L opened #135 "hardware parameters in the large K8s cluster"
* Kubelet parameters
[code]

* Etcd parameters, refer to [etcd](https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/hardware.md)
![image](https://user-images.githubusercontent.com/50984129/90220313-8b9ccd00-de3a-11ea-8167-326b1c6cf0ac.png)

[2020-08-14 06:35] Forest-L commented on #135
@zackzhangkai

[2020-08-14 06:48] #134 closed

[2020-08-21 01:45] rayzhou2017 opened #150 "default params should be in config yaml file when get cluster config"
It is better to fill in the node access params when creating config file from cluster for upgrading

[code]

![Screen Shot 2020-08-21 at 9 41 51 AM](https://user-images.githubusercontent.com/28859385/90842852-d797c680-e392-11ea-964d-24591026f9db.png)

[2020-09-03 10:15] shaowenchen opened #165 "How to generate DevOps kubeconfig on AWS"
1. create ServiceAccount

devops-deploy.yaml , take the namespace kubesphere-sample-dev as an example.

[code]

[code]

2. Get Service Account Token

[code]

3. Replace kubeconfig on Web

![image](https://user-images.githubusercontent.com/43693241/92102217-e5c4f880-ee10-11ea-8fb5-52176558eab1.png)

This kubecofig is incorrect. You should replace

[code]

by

[code]

4. Enjoy DevOps Deploy

![image

[2020-10-21 14:38] FeynmanZhou opened #190 "Register a CNCF Webinar"
@duanjiong @zheng1 Please refer to this format and provide the corresponding topic and outline for Porter, as well as its scenario with KubeSphere. See [this example](https://www.cncf.io/webinars/k8s-audit-logging-deep-dive/) for details. Please also give an available register date for the CNCF webinar, how about 4th, November?

![image](https://user-images.githubusercontent.com/40452856/96735074-

[2020-10-26 06:29] FeynmanZhou commented on #190
@duanjiong Please write an outline for the CNCF Webinar ASAP, Chinese or English are fine.

[2020-10-27 03:09] duanjiong commented on #190
PorterLB:  expose you service in Bare Metal environment

As we know, In the cloud-hosted Kubernetes cluster, the cloud providers (AWS, GCP, Azure, etc.) usually provide the Load Balancer to assign IPs and expose the service to outside.

However, the service is hard to expose in a bare metal cluster since Kubernetes does not provide a load-balancer solution for bare metal environment. Fortunately,

[2020-11-01 12:34] FeynmanZhou commented on #190
## Title

Exposing your Services from Hybrid Cloud using PorterLB and KubeSphere

## Abstract

As we know, In the cloud-hosted Kubernetes cluster, the cloud providers (AWS, GCP, Azure, etc.) usually provide the Load Balancer to assign IPs and expose the service to outside. There is not a graceful solution to expose services of type "LoadBalancer" in bare metal clusters which makes them second clas

[2020-11-01 12:36] FeynmanZhou commented on #190
@duanjiong @Sherlock113 @zheng1 I updated from my perspective, how about it?

[2020-11-02 03:28] duanjiong commented on #190
In the public cloud, you should be using the cloud provider's lb plugin, not the porter.
Let's just focus on the bare metal clusters.

That's all.

[2020-11-02 03:44] FeynmanZhou commented on #190
Updated.

[2020-11-02 14:57] zheng1 commented on #190
I see the title hasn't been changed. @FeynmanZhou

[2020-11-03 02:08] Sherlock113 commented on #190
Here is my version:

## Title

Exposing Your Services in Bare Metal Environment Using Porter and KubeSphere

## Abstract

As we know, cloud providers (AWS, GCP, Azure, etc.) usually provide the Load Balancer to assign IPs and expose services outside Kubernetes clusters hosted on their platform. However, Kubernetes does not provide a load balancer for bare metal clusters, which makes them second-cl

[2020-11-03 13:55] FeynmanZhou commented on #190
@Sherlock113 Thanks, we will adopt this one and submit it to webinar@cncf.io.

[2020-11-04 03:09] shaowenchen opened #223 "KubeSphere DevOps Community Meeting Notes / Agenda"
## Meeting Time

Beijing Time: Thursday at 16:30-17:30 Nov. 5, 2020

## Links

- DevOps User Guide: https://kubesphere.io/docs/devops-user-guide/
- Sig-DevOps: https://github.com/kubesphere/community/tree/master/sig-devops
- Slack: [Click to join](https://join.slack.com/t/kubesphere/shared_invite/enQtNTE3MDIxNzUxNzQ0LTZkNTdkYWNiYTVkMTM5ZThhODY1MjAyZmVlYWEwZmQ3ODQ1NmM1MGVkNWEzZTRhNzk0MzM5MmY4NDc3ZW

[2020-11-04 03:36] LinuxSuRen commented on #223
Considering create a team in the GitHub organization that contains all the members of sig-devops. It will be convenient that addressing this team.

Besides create an event on the Kubesphere Google calendar is also a good way to notify all the participant.

[2020-11-04 05:52] shaowenchen commented on #223
Move to https://docs.google.com/document/d/1ZORl7ZhRlZxKXFle2LGPRJqXzlr6EDhu2A7qzjybfro/

[2020-11-04 05:52] shaowenchen commented on #223
/close

[2020-11-04 05:52] #223 closed

[2020-11-09 06:32] zryfish commented on #165
/cc @FeynmanZhou

[2020-11-09 09:14] FeynmanZhou commented on #165
@shaowenchen @zryfish The first I see this guide, could you migrate it to the FAQ chapter of the DevOps user guide, FAQ chapter should be created accordingly.

[2020-12-14 14:33] LinuxSuRen commented on #118
I guess the link was changed. So could you please point out the place where you don't fully understand. Hopefully, I can help you.

[2020-12-15 06:10] #190 closed

[2020-12-15 06:38] FeynmanZhou opened #280 "Apply for Google Summer of Code in Feb"
Google Summer of Code will be started from 30, Jan. We need to apply for it and investigate the prerequisites we need to prepare.

Ref: https://summerofcode.withgoogle.com/get-started/

[2020-12-23 09:05] FeynmanZhou opened #283 "Add KubeSphere and Porter into cnlandscape"
Ref:

- https://mp.weixin.qq.com/s/umSluo5oR9faPANqVn40mw
- https://github.com/cnlandscape/landscape

![image](https://user-images.githubusercontent.com/40452856/102979673-5b301280-4541-11eb-942d-fd3cd0c6b5d0.png)

![image](https://user-images.githubusercontent.com/40452856/102979732-726f0000-4541-11eb-9735-87dfcaf814f9.png)

[2020-12-24 13:07] FeynmanZhou commented on #283
Closed. It has been completed by @Felixnoo .

[2020-12-24 13:07] #283 closed

[2020-12-24 13:08] FeynmanZhou opened #285 "update the installation and introduction guide in kubeasz"
Ref: https://github.com/easzlab/kubeasz/blob/master/docs/guide/kubesphere.md

[2020-12-25 01:36] Felixnoo commented on #285
What kind of update am I supposed to make?

[2021-01-06 10:25] FeynmanZhou commented on #285
@Felixnoo Update the introduction and installation guide from KubeSphere v2.1 to v3.0.0. It's out-of-date on kubeasz.

[2021-01-07 12:25] gotoworld opened #288 "Is kubesphere-kubevirt support windows vm?"
Thanks for the kubesphere-kubevirt sharing in yesterday noon, it's wonderful and helpful.

We wonder to know wheather the kubesphere-kubevirt support windows vm,
or may you provide a sample of kubevirt windows vm pod ?

Thanks a lot.

[2021-01-07 12:28] gotoworld commented on #288
Beyond the more security reason for use kubevirt,  support windows vm is the sweets that we expected.

[2021-01-08 08:52] FeynmanZhou commented on #288
@gotoworld  Yes, it supports windows.

[2021-01-11 06:47] gotoworld commented on #288
Great, Thanks.

[2021-01-11 06:47] #288 closed

[2021-01-13 05:30] FeynmanZhou commented on #285
@Felixnoo Let us know if you have updated the content.

[2021-01-13 05:39] Felixnoo commented on #285
OK.

[2021-01-13 06:24] FeynmanZhou commented on #280
@LinuxSuRen Did you start to investigate the GSoC 2021? We are getting closer to the registration date.

[2021-01-13 06:56] LinuxSuRen commented on #280
I did some. But I guess it's time to collect some project proposals now before it's too late.

[2021-01-13 07:27] Felixnoo commented on #285
@FeynmanZhou I made updates in the guide and submitted a PR[https://github.com/easzlab/kubeasz/pull/968](url).

[2021-01-19 02:17] LinuxSuRen opened #291 "[Proposal] Setup a new SIG for Advocacy and Outreach"
# Background
Community growth is very important for any community. Advocacy and outreach can dramatically help with that. And the key point is that it should not be done by one person or privately.

As far as I can see, there's a couple of forks are interested in this area.

# Why
As an open-source community, we should discuss everything as possible as we can. Discuss advocacy and outreach in an o

[2021-01-20 09:15] shaowenchen opened #292 "[Proposal] Perform a Pre-release and Get a Release Guideline"
## Background

- release process relies on the special people
- release process of release is not clear to the community
- release time can't be evaluated

## Why

We need to do a pre-release, which is used to test the process. At the same time, a pre-release will provide a checklist and guideline for the next release version 3.1.0.

## Benefit

- allow anyone to publish a release, don't need spec

[2021-01-20 09:28] shaowenchen opened #293 "[Proposal] Create a GitHub Team for Every SIG"
## Background

During the discussion phase, issues and pull requests are directly linked to individuals. This is unreasonable. All members of the SIG are responsible for the SIG.

## Benefit

All members of SIG will be notified. This will reduce the burden on individuals and speed up the processing of work. It will also avoid the impact that occurs when someone leaves the community.

## Workflows

[2021-01-20 10:56] FeynmanZhou commented on #293
Agree. It might be much efficient in community collaboration.

[2021-01-20 11:03] FeynmanZhou commented on #285
@Felixnoo Thanks. It has been merged by Kubeasz.
BTW, please use `kubesphere.com.cn` in Chinese community instead of `kubesphere.io/zh`.

[2021-01-20 12:27] LinuxSuRen commented on #293
I can agree more. I would suggest that all people follow this guide. Please make sure to address the relevant team.
/cc @kubesphere/developers

[2021-01-20 12:34] LinuxSuRen commented on #292
Consider not everyone exactly knows the release flow. It will more clear if you can write down the current flow and the expected flow. But don't worry if you can write down all the details. An outline is good enough.

[2021-01-20 12:49] FeynmanZhou commented on #291
Support! There should be a public SIG for Advocacy and Outreach in the KubeSphere community.

[2021-01-20 13:59] yunkunrao opened #294 "[Proposal] Setup a new SIG for Metering"
As metering will be intergrated into KubeSphere as an independent module within toolbox. Metering is based on Prometheus API and provides user with consumption information about the cluster resource. So do we need setup a new SIG for metering or classify it into some other existing SIG?

[2021-01-20 13:59] yunkunrao commented on #294
/cc @FeynmanZhou

[2021-01-20 14:01] FeynmanZhou commented on #294
Let me verify it with TOC.

[2021-01-21 01:11] Felixnoo commented on #285
Got it.

[2021-01-21 01:50] #285 closed

[2021-01-21 03:22] shaowenchen opened #295 "[Proposal] A Guide to Contribute Community"
## Background

For someone who wants to contribute, he is confused.

- How to participate in contributing?
- How to submit Issues?
- How to submit code?
- How to submit the documentation?
- How to participate in conferences?

## Benefit

Everyone who enters the community, know how to contribute.

## Workflows

- Create a list of how to contribute, just like
    - translate documents
    - create a

[2021-01-21 03:37] FeynmanZhou commented on #295
Do we need to set up a meeting to discuss the division of our four members?

[2021-01-21 03:43] LinuxSuRen commented on #295
Thanks for taking the initiative to have this proposal. I'd like to add something here.

# For the newcomers
It's good to have a place to tell them what they can do exactly. There's an example that we can learn from it. Let me make it be short. We should make a category list. People who have different backgrounds can choose it easily.

## Documentation
We probably should have a meeting with all th

[2021-01-21 08:52] shaowenchen commented on #293
done

[2021-01-21 08:52] #293 closed

[2021-01-21 14:50] shaowenchen opened #298 "[Proposal] Using GitHub Projects to Manage the Process of SIG-DevOps"
## Background

DevOps consists of a pipeline and s2i, including many repositories. SIG-DevOps can't display the progress and status of work Intuitively.

## Benefit

- GitHub Projects is more friendly to the community
- Everyone can get our progress and participate in it
- Issues from different repositories will be aggregated

## Workflows

- create a project named `SIG-DevOps` or `DevOps Team`
-

[2021-01-22 08:50] LinuxSuRen commented on #298
Agree! All contributors can exactly know the progress instead of a few people. We can create the project on the org level.

[2021-01-25 01:48] shaowenchen commented on #298
I will implement it today.

[2021-01-25 01:50] LinuxSuRen commented on #298
Please go ahead.

[2021-01-25 06:30] shaowenchen commented on #298
I have created the project https://github.com/orgs/kubesphere/projects/3  and add some issues to the different columns.

Please use `/project devops` to add an issue to the project.

[2021-01-25 06:30] #298 closed

[2021-01-25 07:08] shaowenchen commented on #292
It needs to be discussed and done in the next month.

[2021-01-25 07:38] LinuxSuRen commented on #295
Here is [the link](https://github.com/search?q=user%3Akubesphere+label%3A%22good+first+issue%22+state%3Aopen&type=Issues&ref=advsearch&l=&l=) for the potential new contributors.

[2021-01-26 02:19] FeynmanZhou commented on #294
As I discussed with TOC, @benjaminhuo suggests Metering is supposed to be joined into @kubesphere/sig-observability . How do you think of it?

[2021-01-26 03:02] FeynmanZhou opened #299 "The division of technical writers"
There are many features and components in KubeSphere, each component has a high learning curve. A clear division of labor allows the technical writers to deep dive into the specific domains and be more efficient. From my point of view, I've summarized these directions (domains) for our technical writers to choose from. If there is anything been missed, please add your comment below.

**Mindmap**:

[2021-01-26 03:06] FeynmanZhou commented on #299
/cc @kubesphere/sig-docs

is inviting you to a scheduled Zoom meeting.

Topic: KubeSphere SIG-Docs Meeting
Time: Jan 26, 2021 04:00 PM Beijing, Shanghai

Join Zoom Meeting
https://us02web.zoom.us/j/84437946426?pwd=ZVEwQ1JLaVJPVUlPZko4bXIrd2hyUT09

Meeting ID: 844 3794 6426
Passcode: 633120

[2021-01-26 04:08] Sherlock113 commented on #299
Sure. With a specific AOE, everyone can focus on the topic to write guides and blogs or record videos.

[2021-01-26 09:11] Sherlock113 commented on #299
I select Installation, Service Mesh and Storage. Will keep a close eye on these three aspects.

[2021-01-26 09:15] Felixnoo commented on #299
I select DevOps, App Store and Multi-cluster.

[2021-01-26 09:15] Patrick-LuoYu commented on #299
I select Network, Edge Computing and Multi-tenancy

[2021-01-26 09:43] FeynmanZhou commented on #299
Let me pick KubeSphere Introduction, KubeSphere Observability and KubeSphere Virtualization.

[2021-01-29 08:14] FeynmanZhou commented on #291
Let's schedule a meeting to discuss how to start and operate this SIG.

Feynman is inviting you to a scheduled Zoom meeting.

Topic: Setup a new SIG for Advocacy and Outreach
Time: Feb 3, 2021 10:00 AM Beijing, Shanghai

Join Zoom Meeting
https://us02web.zoom.us/j/83700282246?pwd=NThOMTNqMFFBemFPOEIyakRsdXEwQT09

Meeting ID: 837 0028 2246
Passcode: ks@2021
One tap mobile
+12532158782,,83700282246#

[2021-02-01 00:29] LinuxSuRen commented on #280
Google Summer of Code 2021 Timeline
Date | Event
-- | --
2020 |  
October 26 | Program announced
2021 |  
January 29 19:00 UTC | Mentoring organizations can begin submitting applications to Google
February 19 19:00 UTC | Mentoring organization application deadline
February 19 - March 8 | Google program administrators review organization applications
March 9 19:00 UTC | List of accepted mentoring o

[2021-02-01 14:05] FeynmanZhou commented on #299
Done.

[2021-02-01 14:05] #299 closed

[2021-02-01 14:13] FeynmanZhou opened #300 "[Proposal] Create a git repo: artwork"
As we have many KubeSphere-related images, logos, icons, and files that need to be stored, it will be easy to find them if there is an independent git repo for artwork.

Example: [cncf/artwork](https://github.com/cncf/artwork).

[2021-02-02 09:19] shenhonglei commented on #291
Support,It’s an honor to participate and learn with everyone.

[2021-02-02 10:39] FeynmanZhou opened #301 "Create project page for Kubekey, KubeEye, and PorterLB in OSChina"
Ref: https://www.oschina.net/p/kubesphere

[2021-02-02 13:59] LinuxSuRen commented on #291
[summer-ospp](https://github.com/summer-ospp/help) is a local event that is similar to [Google Summer of Code](https://github.com/kubesphere/community/issues/280). This could be a potential topic.

[2021-02-03 01:55] webup commented on #291
Count me in!

[2021-02-03 01:59] LinuxSuRen commented on #291
There's a bunch of proposals that exist. We can the whole list by GitHub label. See also https://github.com/kubesphere/prow-tutorial/pull/24

[2021-02-03 03:09] LinuxSuRen commented on #291
The [meeting ntoes](https://docs.google.com/document/d/1amXxLZFkR_4yQU89EZlO_P0fgUVyhXoLmNqvlA55QEg/edit#) is here.

[2021-02-03 03:29] LinuxSuRen commented on #300
/kind proposal

[2021-02-03 04:01] FeynmanZhou commented on #291
@LinuxSuRen  I assume register the GSoC first.

[2021-02-03 04:19] LinuxSuRen commented on #291
Of course.

[2021-02-03 07:11] LinuxSuRen commented on #300
/kind proposal

[2021-02-03 07:26] rayzhou2017 commented on #291
Great! totally support

[2021-02-03 07:26] FeynmanZhou commented on #291
@kubesphere/toc Please vote this proposal with your comment or emoji.

[2021-02-03 07:52] zheng1 commented on #291
agree +1

[2021-02-03 07:56] leoendless commented on #291
agree +1

[2021-02-03 08:04] benjaminhuo commented on #291
+1

[2021-02-07 03:05] LinuxSuRen commented on #291
Thanks for all to support this idea proposal. I'm going to push it forward.

[2021-02-07 04:01] LinuxSuRen commented on #291
/kind proposal

[2021-02-07 04:01] LinuxSuRen commented on #300
/kind proposal

[2021-02-07 04:01] LinuxSuRen commented on #295
/kind proposal

[2021-02-07 04:01] LinuxSuRen commented on #294
/kind proposal

[2021-02-07 04:01] LinuxSuRen commented on #292
/kind proposal

[2021-02-07 04:01] LinuxSuRen commented on #86
/kind proposal

[2021-02-07 04:01] LinuxSuRen commented on #85
/kind proposal

[2021-02-09 02:10] LinuxSuRen commented on #280
Here is the project proposal list link

https://shimo.im/docs/gG9hGqPwCpkthrXx/

[2021-02-18 02:25] #291 closed

[2021-02-19 02:38] #280 closed

[2021-02-22 03:58] zryfish commented on #300
Agree

[2021-03-15 07:32] FeynmanZhou commented on #300
Hi @zryfish @LinuxSuRen @kubesphere/sig-advocacy-and-outreach ,

The artwork repository has been created, we can migrate all KubeSphere-related logos and artworks from the Community repo to the artwork repo.

[2021-03-15 08:21] LinuxSuRen commented on #300
One thing needs to be careful. Rewrite the image link if was referenced by the current repository.

[2021-03-16 06:37] FeynmanZhou opened #314 "Testing LitmusChaos on KubeSphere and prepare the guide"
We are looking for someone who is interested in helping us to test LitmusChaos on KubeSphere and prepare the guide. If you would like to take it up, leave your comments below : )

[2021-03-16 06:37] FeynmanZhou commented on #314
/kind proposal

[2021-03-16 09:46] daniel-hutao opened #317 "The name list at Org/Teams is inconsistent with community"
https://github.com/orgs/kubesphere/teams

https://github.com/kubesphere/community

[2021-03-16 09:47] daniel-hutao commented on #317
/area advocacy-and-outreach
@kubesphere/sig-advocacy-and-outreach

[2021-03-16 09:49] daniel-hutao commented on #317
/kind bug

[2021-03-16 10:22] FeynmanZhou commented on #317
/assign

[2021-03-19 03:45] daniel-hutao opened #318 "Proposal: Add a repo list for all code repositories"
We need a list to tell everyone how many code repos in the org, what is the purpose of each code base, and then delete redundant code repos, and new code repo created need to be maintained.

[2021-03-19 03:46] LinuxSuRen commented on #318
Great idea!!!

[2021-03-19 03:46] LinuxSuRen commented on #318
/kind proposal

[2021-03-19 07:37] daniel-hutao commented on #318
#319

I have completed a preliminary version here, welcome everyone to improve it together.

[2021-04-07 03:09] #87 closed

[2021-04-07 03:17] shaowenchen commented on #165
https://kubesphere.com.cn/docs/faq/devops/create-devops-kubeconfig-on-aws/

[2021-04-07 03:17] #165 closed

[2021-04-07 06:33] shaowenchen commented on #52
`/assign` is the cmd for the [prow bot](https://prow.kubesphere.io/) to assign some issues to someone.

[2021-04-12 11:42] FeynmanZhou opened #322 "Test LitmusChaos on KubeSphere and prepare for the document"
We are going to add a new document for LitmusChaos on KubeSphere on [Litmus Chaos website](https://docs.litmuschaos.io/docs/getstarted/), please assist us to test this scenario and prepare for the document accordingly.

[2021-04-13 07:19] FeynmanZhou commented on #322
/assign @yangchuansheng

[2021-04-20 06:55] FeynmanZhou commented on #314
https://github.com/kubesphere/community/issues/322

[2021-04-20 06:55] #314 closed

[2021-04-20 06:55] FeynmanZhou commented on #301
@faweizhao26 Any updates on this PR?

[2021-04-21 01:34] FeynmanZhou commented on #322
@yangchuansheng  Any progress on this document?

[2021-05-01 02:06] FeynmanZhou opened #326 "Add KubeSphere Helm Chart to Artifacthub.io"
Artifact Hub is a web-based application that enables finding, installing, and publishing packages and configurations for CNCF projects. There is a KubeSphere Helm Chart in the ks-installer repository. It would be a good channel for people to find KubeSphere.
https://artifacthub.io/

[2021-05-04 16:44] yangchuansheng commented on #322
Testing this scenario

[2021-05-06 14:37] FeynmanZhou opened #327 "Add KubeSphere to DigitalOcean Marketplace (Kubernetes)"
Ref: https://github.com/digitalocean/marketplace-kubernetes/issues/213

[2021-05-06 15:27] FeynmanZhou commented on #326
@pixiake Please let us know when the ks-installer been upgraded to v3.1.0. Then we will add it to Artifacthub.io.

[2021-05-06 15:28] FeynmanZhou commented on #301
These pages have been created on OSChina. Thanks @faweizhao26 !

[2021-05-11 07:41] faweizhao26 opened #329 "Set up KubeSphere Community Users Committee of Shanghai and Hangzhou"
We are going to set up KubeSphere Community Users Committee of Shanghai and Hangzhou.
About this committee, you can read the [md](https://hackmd.io/@zhaofawei/SkTsjW-vu) to learn more information.
Besides, if you have any good idea, you can edit this md and add your thoughts.

[2021-05-18 15:13] FeynmanZhou opened #335 "REQUEST: New membership for Akhil"
## GitHub Username
@[Akhil](https://github.com/akhilerm)

## Requirements

- [x] Active contribution to the project. Contributed at least one notable PR to a specific SIG codebase within half a year
- [x] Finish one or more features
- [x] Sponsored by two members of the SIG and approved by the lead of the SIG
- [x] Help review PR from other contributors

## Sponsors

@FeynmanZhou
@pixiake

## List

[2021-05-18 15:13] FeynmanZhou commented on #335
/cc @kubesphere/toc

[2021-05-18 15:18] FeynmanZhou opened #336 "REQUEST: New membership for Bojan"
## GitHub Username
@[Bojan](https://github.com/bojand)

## Requirements

- [x] Active contribution to the project. Contributed at least one notable PR to a specific SIG codebase within half a year
- [x] Finish one or more features
- [x] Sponsored by two members of the SIG and approved by the lead of the SIG
- [x] Help review PR from other contributors

## Sponsors

@FeynmanZhou
@benjaminhuo

## Li

[2021-05-27 02:30] zheng1 commented on #336
lgtm

[2021-05-27 02:35] benjaminhuo commented on #336
/lgtm

[2021-05-27 02:41] FeynmanZhou opened #344 "REQUEST: New membership for Dhruv"
## GitHub Username
@[Dhruv Kela](https://github.com/keladhruv)

## Requirements

- [x] Active contribution to the project. Contributed at least one notable PR to a specific SIG codebase within half a year
- [x] Finish one or more features
- [x] Sponsored by two members of the SIG and approved by the lead of the SIG
- [x] Help review PR from other contributors

## Sponsors

@wanjunlei
@benjaminhuo

[2021-05-27 02:51] zheng1 commented on #335
LGTM

[2021-05-27 02:51] zheng1 commented on #344
LGTM

[2021-05-27 02:53] wansir commented on #335
LGTM

[2021-05-27 02:57] benjaminhuo commented on #335
/lgtm

[2021-05-27 03:44] benjaminhuo commented on #344
LGTM

[2021-06-09 03:38] FeynmanZhou opened #347 "Design a poster for OSPP"
As we are participating in the OSPP and we are looking for more students come to join us, we need to design a poster to include all key points of KubeSphere projects and community for OSPP. Then we will send it to a student and make it public in the university.

Ref: https://github.com/kubesphere/community/tree/master/sig-advocacy-and-outreach/summer-ospp

[2021-06-09 03:38] FeynmanZhou commented on #347
/assign @faweizhao26

[2021-06-10 03:30] longzhixin opened #348 "cannot visit the docs website."
cannot visit the docs website.
https://kubesphere.io/zh/docs/faq/observability/byop/

![image](https://user-images.githubusercontent.com/13051065/121460239-34767300-c9df-11eb-88da-76fd235e50c0.png)
503 Service Temporarily Unavailable
nginx/1.15.10

[2021-06-11 09:10] #347 closed

[2021-06-11 09:10] FeynmanZhou commented on #347
Done, thanks @faweizhao26

[2021-06-11 09:10] FeynmanZhou commented on #348
It has been fixed and recovered.

[2021-06-11 09:11] #348 closed

[2021-06-14 23:47] pixiake opened #349 "REQUEST: New membership for lshmouse"
## GitHub Username
@lshmouse

## Requirements
* [x]  Active contribution to the project. Contributed at least one notable PR to a specific SIG codebase within half a year
* [x]  Finish one or more features
* [x]  Sponsored by two members of the SIG and approved by the lead of the SIG
* [x]  Help review PR from other contributors

## Sponsors
@FeynmanZhou
@pixiake

## List of contributions to the K

[2021-06-15 01:18] LinuxSuRen commented on #349
hi @lshmouse, thanks for your efforts. And welcome to be a member of the KubeSphere community. We all look forward to seeing more voice and innovation from you.

[2021-06-15 14:24] FeynmanZhou commented on #349
Support. Welcome onboard! @lshmouse

[2021-07-20 14:06] #292 closed

[2021-07-20 14:06] #295 closed

[2021-08-03 02:35] LinuxSuRen opened #352 "Request to create the new docker images of DevOps"
As mentioned in the title. See also the details from [here](https://github.com/kubesphere-sigs/ks-devops/issues/92)

/cc @kubesphere/toc

[2021-08-04 02:08] LinuxSuRen commented on #352
it's done.
/close

[2021-08-04 02:08] #352 closed

[2021-08-04 10:55] FeynmanZhou opened #353 "Community Events CFP in Aug"
There are some great community events and conferences that are open to CFP this month, we can call for our maintainers, partners, and users to submit the proposals to these events and conferences. Please help us to organize them in the community.

- [x] [OpenInfra Days China 2021](https://pages.segmentfault.com/openinfra-2021)
- [x] [Open Source Summit China 2021](https://www.lfasiallc.com/kubecon

[2021-08-06 02:11] LinuxSuRen commented on #349
@lshmouse already was a member of the KubeSphere community.
![image](https://user-images.githubusercontent.com/1450685/128445391-9e95e7a7-240f-4889-89b2-7c00b8e7efb1.png)

/close

[2021-08-06 02:11] #349 closed

[2021-08-06 02:12] LinuxSuRen commented on #335
@Akhil already was a member of the KubeSphere community.
![image](https://user-images.githubusercontent.com/1450685/128445462-863515f9-07a0-4862-903a-681fb6176efb.png)

/close

[2021-08-06 02:12] #335 closed

[2021-08-06 02:13] LinuxSuRen commented on #344
@keladhruv already was a member of the KubeSphere community.
![image](https://user-images.githubusercontent.com/1450685/128445542-38191145-2107-4a2f-bad0-124af19bdff1.png)

/close

[2021-08-06 02:13] #344 closed

[2021-08-06 02:13] LinuxSuRen commented on #336
@bojand already was a member of the KubeSphere community.
![image](https://user-images.githubusercontent.com/1450685/128445581-0ecc2b18-961f-4404-a8db-f371701ce4d3.png)

/close

[2021-08-06 02:13] #336 closed

[2021-08-06 02:21] FeynmanZhou commented on #327
/Close

[2021-08-06 02:21] #327 closed

[2021-08-10 06:08] zryfish opened #354 "Move archived repo to kubesphere-retired"
There are lots of archived repos under KubeSphere, they are no longer actively maintained. It may confuse people, and also it will slow Prow during ORG scan.  Move them to [kubesphere-retired](https://github.com/kubesphere-retired).

/kind cleanup

[2021-08-11 12:28] AbdelouahabMbarki opened #355 "kubesphere katacoda tutorials"
As there are a lot of open source projects in the cnf land scape using katacoda tutorials to make it easier for the community to get started with the tool and learn more about it, it will be great to have tutorials for kubesphere too to test different scenarios and get more familiar with it.

useful links :
- [ katacoda scenario  examples](https://github.com/katacoda/scenario-examples)
- [katacoda

[2021-08-11 12:54] AbdelouahabMbarki commented on #355
i found that there is two solution for this

**the first one:**
is  where we can use the Kubernetes Cluster 1.18 (Pre-configured) which is free and add a Storage class to it like [openebs](https://openebs.io/) and  then install  kubesphere on it  using [ks-installer](https://github.com/kubesphere/ks-installer) . It works, but we have to wait for the setup of kubesphere and the Storage class which

[2021-08-11 13:52] FeynmanZhou commented on #355
@AbdelouahabMbarki  Really appreciate your suggestion! As for the first solution, could you help us to write a brief guide to introduce how to install KubeSphere on the KataCoda environment? It can be an optional way for the novices who are really want to get started even they don't have VMs.

As for the second solution, it could be supported in the future, it requires long progress in my opinion.

[2021-08-11 13:58] LinuxSuRen opened #356 "Request to delete an empty repository jenkins-library"
https://github.com/kubesphere/jenkins-library

[2021-08-12 02:49] LinuxSuRen commented on #356
/cc @kubesphere/toc

[2021-08-18 05:44] liangyuanpeng opened #358 "Add issue template for MemberShip Request"
FYI, issue template for MemberShip Request of kubernetes

https://github.com/kubernetes/org/issues/new?assignees=&labels=area%2Fgithub-membership&template=membership.yml&title=REQUEST%3A+New+membership+for+%3Cyour-GH-handle%3E

[2021-08-18 05:48] liangyuanpeng opened #359 "REQUEST: New membership for @liangyuanpeng"
# GitHub Username
@liangyuanpeng

# Requirements

 - [x] Active contribution to the project. Contributed at least one notable PR to a specific SIG codebase within half a year
 - [x] Finish one or more features
 - [x] Sponsored by two members of the SIG and approved by the lead of the SIG
 - [x] Help review PR from other contributors

# Sponsors

@FeynmanZhou
@LinuxSuRen

# List of contributions to

[2021-08-18 08:27] FeynmanZhou commented on #359
Approve and support!

/cc @kubesphere/toc

[2021-08-18 11:06] benjaminhuo commented on #359
My 2 cents 👍

[2021-08-20 04:58] JohnNiang opened #360 "Request to create the new docker images of DevOps agent project"
The docker hub organization kubespheredev is the default namespace for development. The following images belong to the DevOps agent project

- builder-python https://github.com/kubesphere/devops-agent/pull/31
- builder-dotnet https://github.com/kubesphere/devops-agent/pull/24

Docker hub only allows the owner of an organization to create new images. I'm not an owner of it.

BTW, The docker images

[2021-08-20 05:30] benjaminhuo commented on #360
Created in kubespheredev

[2021-08-20 05:37] LinuxSuRen commented on #360
Confirm! Thanks @benjaminhuo

![image](https://user-images.githubusercontent.com/1450685/130184797-046b44d0-295d-40b2-b04b-3b87e8305f45.png)
![image](https://user-images.githubusercontent.com/1450685/130184819-986e44a9-92bf-41f6-9701-bcc5925e934e.png)

/close

[2021-08-20 05:37] #360 closed

[2021-08-28 15:57] liangyuanpeng commented on #359
Received invite,thanks.

[2021-08-28 15:57] #359 closed

[2021-08-29 22:53] AbdelouahabMbarki commented on #355
what do you think about this scenario https://www.katacoda.com/h1rkul2/scenarios/kubsphere02 what can be improved

[2021-08-30 02:05] LinuxSuRen commented on #355
It's great. IMO, we can put the link somewhere to let people know it. And if you have git repo for this. We can collaborate with each other. For example, we can put it in https://github.com/kubesphere-sigs/ for now.

[2021-08-30 02:06] FeynmanZhou commented on #355
👍 I will try it later.

[2021-08-30 09:28] FeynmanZhou commented on #355
I have installed KubeSphere on K8s successfully within around 20+ minutes! Will this scenario link be permanently valid? It seems that the Kubernetes environment is only reserved for half an hour only, it will be destroyed after that period, right?

![image](https://user-images.githubusercontent.com/40452856/131313002-afe124aa-fd05-4ef2-b6d3-a3aee1682765.png)

[2021-08-30 09:41] AbdelouahabMbarki commented on #355
Kubernetes cluster can be reserved up to  60 minutes then the environment will be expired so you have to refresh the page again

[2021-08-30 09:43] AbdelouahabMbarki commented on #355
@LinuxSuRen  i will submit it to kubesphere-sigs so we can collaborate on it more

[2021-08-30 09:48] LinuxSuRen commented on #355
I'm not sure if you have the permission to create a repo. Please tell me the name if you cannot.

[2021-08-30 10:39] FeynmanZhou commented on #355
Will this scenario link be permanently valid?

[2021-08-30 10:53] AbdelouahabMbarki commented on #355
@FeynmanZhou  yes i doesn't change ,  i will send a  new link after we put it in kubesphere-sigs

[2021-09-01 05:01] FeynmanZhou commented on #358
Good idea, I think we can add a template refer to this one.

[2021-09-01 06:33] LinuxSuRen opened #362 "Request to create the new docker images of kubesphere CLI"
Request to create a new docker image: `kubespheredev/ks-cli`

## Why
Currently, we want to use the command `ks pip gc` to do the GC job.

## References
* https://github.com/kubesphere-sigs/ks
* https://github.com/kubesphere/ks-devops/pull/207

/cc @kubesphere/toc

[2021-09-02 01:31] LinuxSuRen commented on #355
It is online. See https://www.katacoda.com/kubesphere

Thanks @FeynmanZhou @AbdelouahabMbarki

/close

[2021-09-02 01:31] #355 closed

[2021-09-02 02:03] LinuxSuRen commented on #329
I guess we already have it.

/close

[2021-09-02 02:03] #329 closed

[2021-09-02 02:04] #300 closed

[2021-09-02 02:05] LinuxSuRen commented on #294
Any updates?

[2021-09-02 02:06] LinuxSuRen commented on #57
I'm not sure if you already fixed this problem. But please contact https://github.com/kubesphere/kubesphere/issues if it's not.

/close

[2021-09-02 02:06] #57 closed

[2021-09-02 02:07] LinuxSuRen commented on #34
Considering this issue is outdated I guess we can close it. Right? @FeynmanZhou

[2021-09-02 02:08] LinuxSuRen commented on #100
Have you figured it or not?

[2021-09-02 02:08] LinuxSuRen commented on #354
hi @zryfish , did you finish this work?

[2021-09-02 02:26] benjaminhuo commented on #294
No need to setup a new sig for metering, it's part of Observability SIG

[2021-09-02 02:26] #294 closed

[2021-09-02 06:43] FeynmanZhou commented on #355
Thanks @AbdelouahabMbarki 's effort!

BTW, could you help us to add the katacoda scenario link to the [README](https://github.com/kubesphere/kubesphere#quick-start)? It would bring more visibility to this scenario.

[2021-09-02 12:27] wenhuwang opened #364 "REQUEST: New membership for @wenhuwang"
## GitHub Username

[@wenhuwang](https://github.com/wenhuwang)

## Requirements

- [x] -  Active contribution to the project. Contributed at least one notable PR to a specific SIG codebase within half a year
- [x] -  Finish one or more features
- [x] -  Sponsored by two members of the SIG and approved by the lead of the SIG
- [x] -  Help review PR from other contributors

# Sponsors

[@FeynmanZhou

[2021-09-06 11:54] faweizhao26 opened #365 "[Nominations Open] KubeSphere Ambassador Award 2021 🏆"
This issue is to receive nominations for KubeSphere Ambassador Award 2021.

To nominate someone（it could be you）, reply to this issue with the following:

- Full name of the person you’re nominating.
- Short description of their contributions to KubeSphere and why they should win.

**Attention**：If your name is already in this [document](https://shimo.im/sheets/YC3ypTk3wDQYJYRQ/MODOC/), you don't

[2021-09-07 04:15] faweizhao26 opened #367 "[Nominations Open] KubeSphere Contributor Award 2021 🏆"
This issue is to receive nominations for KubeSphere Contributor Award 2021.

To nominate someone（it could be you）, reply to this issue with the following:

- Full name of the person you’re nominating.
- Short description of their contributions to KubeSphere and why they should win.

**Attention**：If your name is already in this [document](https://shimo.im/sheets/RgKwRxtxT3PDvHTj/MODOC/), you don't

[2021-09-07 04:15] faweizhao26 opened #368 "[Nominations Open] KubeSphere Member Award 2021 🏆"
This issue is to receive nominations for KubeSphere Member Award 2021.

To nominate someone（it could be you）, reply to this issue with the following:

- Full name of the person you’re nominating.
- Short description of their contributions to KubeSphere and why they should win.

**Attention**：If your name is already in this [document](https://shimo.im/sheets/T86qhgVyQRKtWQpV/MODOC/), you don't need

[2021-09-07 04:15] faweizhao26 opened #369 "[Nominations Open] KubeSphere Talented Speaker Award 2021 🏆"
This issue is to receive nominations for KubeSphere Talented Speaker Award for the first half of 2021.

To nominate someone（it could be you）, reply to this issue with the following:

- Full name of the person you’re nominating.
- Short description of their contributions to KubeSphere and why they should win.

**Attention**：If your name is already in this [document](https://shimo.im/sheets/rKGRPXCG

[2021-09-08 10:50] wenhuwang commented on #367
Fullname: wenhuwang
description:  I contributed to the kubesphere and ks-installer project.

[2021-09-09 11:55] wenhuwang commented on #368
I'd like to nominate myself([wenhu wang](https://github.com/wenhuwang)) for this award.

I have been using the Kubesphere project for a year and a half, starting from v2.1 to v3.2. In the process of using kubesphere, I also like to take time to troubleshoot and share with kubesphere community users when encountering problems, as well as exchange issues in the forum. Some issues that need to be fix

[2021-09-10 13:00] liulangwa commented on #367
前段时间调研k8s管理平台，选中了kubesphere，最近把部署遇到的问题修复提交了，以后也会给大家推荐这个棒棒的平台。

[2021-09-15 10:06] 912988434 commented on #365
Shuai Li
Spread and share the use of kubesphere, introduce how to minimize the installation of kubespere and use the existing proemtheus for monitoring and display, and how to use OIDC Identity Provider (dex+gitlab) for user authentication.

- https://mp.weixin.qq.com/s/GbeyC3RH0EYCCrAHHOPrjg
- https://mp.weixin.qq.com/s/TzDwReLHDsuoIfclOa29bQ

[2021-09-24 17:06] liangyuanpeng commented on #364
W00t! +1 from me! 🎉

[2021-09-28 06:23] FeynmanZhou commented on #364
+1 support!

cc @kubesphere/toc

[2021-10-09 07:31] zheng1 commented on #364
+1

[2021-10-27 03:15] LinuxSuRen opened #372 "REQUEST: New membership for AbdelouahabMbarki"
### GitHub Username

@AbdelouahabMbarki

### Requirements

- [X] Active contribution to the project. Contributed at least one notable PR to a specific SIG codebase within half a year
- [X] Finish one or more features
- [X] Sponsored by two members of the SIG and approved by the lead of the SIG
- [X] Help review PR from other contributors

### Sponsor 1

@linuxsuren

### Sponsor 2

@JohnNiang

###

[2021-11-03 15:26] FeynmanZhou commented on #372
I have sent the member invitation to @AbdelouahabMbarki.

[2021-11-03 16:18] AbdelouahabMbarki commented on #372
Thanks guys i appreciate it

[2021-11-05 04:22] FeynmanZhou commented on #372
Invited and closed

[2021-11-05 04:22] #372 closed

[2021-11-12 06:37] LinuxSuRen opened #374 "REQUEST: New membership for mangoGoForward"
### GitHub Username

@mangoGoForward

### Requirements

- [X] Active contribution to the project. Contributed at least one notable PR to a specific SIG codebase within half a year
- [X] Finish one or more features
- [X] Sponsored by two members of the SIG and approved by the lead of the SIG
- [X] Help review PR from other contributors

### Sponsor 1

@linuxsuren

### Sponsor 2

@harrisonliu5

###

[2021-11-15 01:39] mangoGoForward commented on #374
I'm appreciate and  will keep it up, thanks your advice.

[2021-11-15 02:33] harrisonliu5 commented on #374
I am very happy to have new members join us. It is my honor to be your sponsor. I hope you can enjoy it and gain something and welcome to join us.

[2021-11-15 08:10] mangoGoForward commented on #374
Thanks.

[2021-11-16 03:33] FeynmanZhou commented on #374
Invited and closed.

[2021-11-16 03:33] #374 closed

[2021-11-22 09:00] 123liubao opened #375 "REQUEST: New membership for 123liubao"
### GitHub Username

@123liubao

### Requirements

- [X] Active contribution to the project. Contributed at least one notable PR to a specific SIG codebase within half a year
- [X] Finish one or more features
- [X] Sponsored by two members of the SIG and approved by the lead of the SIG
- [X] Help review PR from other contributors

### Sponsor 1

@FeynmanZhou

### Sponsor 2

@harrisonliu5

### List

[2021-11-22 10:05] FeynmanZhou commented on #375
+1 support

[2021-11-22 10:05] FeynmanZhou commented on #375
+1 support

[2021-11-23 03:02] FeynmanZhou commented on #375
/cc @kubesphere/toc

[2021-11-23 03:10] zheng1 commented on #375
+1 support

[2021-11-26 02:07] FeynmanZhou commented on #375
@123liubao  Invited! Welcome to join the KubeSphere community.

[2021-11-26 02:07] #375 closed

[2021-11-26 02:35] LinuxSuRen commented on #375
hi @123liubao , welcome onboarding!

[2021-12-03 06:10] JohnNiang opened #377 "Request to create the new docker image name "builder-gradle" for DevOps agent project"
The docker hub organization kubespheredev is the default namespace for development. DevOps agent `builder-gradle` has been added into https://github.com/kubesphere/devops-agent, please see:

- https://github.com/kubesphere/devops-agent/pull/45

Docker hub only allows the owner of an organization to create new images. I'm not an owner of it.

BTW, The docker images that have not been created will c

[2021-12-03 06:36] LeonDevLifeLog commented on #367
kubesphere/helm-charts#197
kubesphere/helm-charts#193
kubesphere/ks-devops#354

it's myself.

report a high priority security issue and fix it. :sweat_smile:

Is that possible to earn a award?

[2021-12-03 08:21] JohnNiang commented on #377
Expected docker images:

- kubesphere/builder-gradle
- kubespheredev/builder-gradle

[2021-12-03 08:27] JohnNiang commented on #377
I confirmed that those images have been created respectively:

![image](https://user-images.githubusercontent.com/16865714/144570017-aadae140-acdf-49cd-b9a0-8e60741649a8.png)
![image](https://user-images.githubusercontent.com/16865714/144570072-7950c7c3-5f27-4555-973b-c3b45588688e.png)

- https://hub.docker.com/r/kubespheredev/builder-gradle
- https://hub.docker.com/r/kubesphere/builder-gradle

Th

[2021-12-03 08:27] #377 closed

[2021-12-15 10:09] pixiake opened #379 "REQUEST: New membership for chaunceyjiang"
### GitHub Username

@chaunceyjiang

### Requirements

- [X] Active contribution to the project. Contributed at least one notable PR to a specific SIG codebase within half a year
- [X] Finish one or more features
- [X] Sponsored by two members of the SIG and approved by the lead of the SIG
- [ ] Help review PR from other contributors

### Sponsor 1

@pixiake @24sama

### Sponsor 2

@FeynmanZhou

#

[2021-12-15 10:16] FeynmanZhou commented on #379
/cc @kubesphere/toc

[2021-12-15 10:16] 24sama commented on #379
+1 support

[2021-12-16 11:02] FeynmanZhou opened #380 "Add KubeSphere Helm Chart to the Civo Marketplace"
Civo.com is introducing the world's first managed K3s service and the [Civo marketplace](https://github.com/civo/kubernetes-marketplace) is a PaaS to enable users to install apps on Civo Cloud with one click. We are preparing to add KubeSphere Helm Chart to the Civo marketplace. If you are interested in helping us to make it happen, please leave your comments below.

[2021-12-20 15:47] benjaminhuo commented on #379
+1

[2021-12-30 06:21] mangoGoForward commented on #380
/assign

[2021-12-30 06:23] FeynmanZhou commented on #379
@chaunceyjiang Invited. Thank you all!

[2021-12-30 06:23] #379 closed

[2021-12-31 07:38] FeynmanZhou commented on #380
Thanks for @mangoGoForward 's help. If you need any materials or help, feel free to let me know.

[2022-01-01 11:39] tanguofu opened #383 "REQUEST: New membership for tanguofu"
### GitHub Username

tanguofu

### Requirements

- [X] Active contribution to the project. Contributed at least one notable PR to a specific SIG codebase within half a year
- [X] Finish one or more features
- [X] Sponsored by two members of the SIG and approved by the lead of the SIG
- [X] Help review PR from other contributors

### Sponsor 1

pixiake

### Sponsor 2

sama24

### List of contributi

[2022-01-03 05:32] FeynmanZhou commented on #383
support!

/cc @kubesphere/toc

[2022-01-04 02:57] pixiake commented on #383
support!

[2022-01-04 07:39] zheng1 commented on #383
support!

[2022-01-06 06:41] mangoGoForward commented on #380
We need a png logo.

[2022-01-06 06:42] FeynmanZhou commented on #380
<img width="1383" alt="kubesphere-logo" src="https://user-images.githubusercontent.com/40452856/148340348-8080aa96-23f5-4eab-9ea4-5a536b915a6b.png">

[2022-01-06 06:50] mangoGoForward commented on #380
The logo seems does not need text `KUBESPHERE`, we can set `name`, it will displayed in web interface alongside the logo.png.

[2022-01-06 06:54] FeynmanZhou commented on #380
<img width="198" alt="kubesphere-logo-only" src="https://user-images.githubusercontent.com/40452856/148341685-119b3ae7-73c5-44f2-a722-ddbcd7be6fe3.png">

[2022-01-08 15:23] LinuxSuRen commented on #364
@wenhuwang already be a member of the community. I'm going to close this issue. Welcome to join the community!

/close

![image](https://user-images.githubusercontent.com/1450685/148649768-f9970fb9-a0a8-4b05-9e4b-a2f2c13227a0.png)

[2022-01-08 15:23] #364 closed

[2022-01-08 15:25] LinuxSuRen commented on #383
+1 from me

@tanguofu thanks for your contribution. Let's build the community together.

[2022-01-08 15:55] FeynmanZhou commented on #383
Invitation sent! Welcome to join the community. @tanguofu

[2022-01-08 15:55] #383 closed

[2022-01-25 07:52] LinuxSuRen commented on #369
I guess this was done according to the description. I'm going to close it.
/close

[2022-01-25 07:52] #369 closed

[2022-01-25 07:52] LinuxSuRen commented on #368
I guess this was done according to the description. I'm going to close it.
/close

[2022-01-25 07:52] #368 closed

[2022-01-25 07:52] LinuxSuRen commented on #367
I guess this was done according to the description. I'm going to close it.
/close

[2022-01-25 07:52] #367 closed

[2022-01-25 07:52] LinuxSuRen commented on #365
I guess this was done according to the description. I'm going to close it.
/close

[2022-01-25 07:52] #365 closed

[2022-01-25 07:53] LinuxSuRen commented on #362
forget about this
/close

[2022-01-25 07:53] #362 closed

[2022-01-25 08:06] LinuxSuRen opened #386 "Request to retire those in-active SIGs"
There are over 15 SIGs you can find from the [website page](https://kubesphere.com.cn/contribution/). But as we can see, there are only four SIGs are active for a very long time (over 1 year).

* [DevOps SIG](https://github.com/kubesphere/community/tree/master/sig-devops)
* [Advocate and outreach SIG](https://github.com/kubesphere/community/tree/master/sig-advocacy-and-outreach)
* [Observability S

[2022-01-25 15:56] FeynmanZhou commented on #386
IMO, I agree to retire other inactive SIGs or provide a choice to combine them with the current SIGs. For example, Edge SIG can be combined into Observability SIG as an Observability & Edge working group.

If we don't see any proactive ideas from those inactive SIGs, then we could mark them to retire.

[2022-01-26 02:02] FeynmanZhou opened #387 "Call for Contributing to Localization"
As the KubeSphere localization project has been launched on Crowdin, we are looking for contributors to help localize the KubeSphere web console by referring to the [localization guide](https://github.com/kubesphere/console/blob/master/docs/join-the-kubesphere-localization-project.md). If you are interested in this program, do not hesitate to leave your comments or join the [Slack channel #SIG-Doc

[2022-01-26 02:03] LinuxSuRen commented on #386
Some SIGs are quite important. It's good for the community if someone can help to run it. For instance:

* [Installation SIG](https://github.com/kubesphere/community/tree/master/sig-installation)
  * Installation is the first step for every newcomer.
* [Console SIG](https://github.com/kubesphere/community/tree/master/sig-console)
  * IMO, the frontend might be easy for people to try their first co

[2022-01-26 08:46] FeynmanZhou commented on #387
/help

[2022-02-09 09:58] FeynmanZhou commented on #387
Hi @Felixnoo @kubesphere/sig-advocacy-and-outreach ,

Could you please help us to spread it and call for more contributors to engage with this program? We could have a quick discussion in a meeting.

[2022-02-10 01:38] Felixnoo commented on #387
@FeynmanZhou Sure, let me open an issue in the console repository first, and then we can have further discussion.

[2022-02-10 02:53] FeynmanZhou commented on #387
Is it possible to migrate this issue to the console repo? If not, go ahead and create a new one.

[2022-02-10 03:01] Felixnoo commented on #387
@FeynmanZhou I tried but couldn't transfer this issue to the console repository because only the kubesphere repo and the website repo were available in the drop-down list. I think I will create a new one by referencing this issue.

[2022-02-10 03:21] FeynmanZhou commented on #387
@Felixnoo  The issue owner has access to transfer it. I could transfer it to console repo if you need.

[2022-02-28 02:36] mangoGoForward commented on #380
/assign

[2022-03-23 08:45] haiker2011 opened #393 "How are you planning on using pluggable architecture? - Use Cases Poll"
# How are you planning on using pluggable architecture?
This issue want to collect use cases and plugin on kubesphere 4.0 use pluggable architecture.

**What would you like to be added:**
Use cases and high-level architectures.

 **what plugin you want to develop:**
Plugin you are wanted to add to kubesphere.

[2022-04-02 07:25] Arhell opened #394 "REQUEST: New membership for Arhell"
### GitHub Username

@Arhell

### Requirements

- [X] Active contribution to the project. Contributed at least one notable PR to a specific SIG codebase within half a year
- [X] Finish one or more features
- [X] Sponsored by two members of the SIG and approved by the lead of the SIG
- [X] Help review PR from other contributors

### Sponsor 1

@FeynmanZhou

### Sponsor 2

@weili520

### List of con

[2022-04-02 07:28] FeynmanZhou commented on #394
Support!

[2022-04-07 01:51] wansir commented on #394
Support +1

[2022-04-07 05:53] benjaminhuo commented on #394
+1 binding

[2022-04-07 12:17] weili520 commented on #394
Support + 1

[2022-04-08 07:30] #394 closed

[2022-04-20 01:19] mangoGoForward commented on #380
fixed #civo/kubernetes-marketplace#290

[2022-04-20 12:16] FeynmanZhou commented on #380
Completed

[2022-04-20 12:16] #380 closed

[2022-05-23 07:08] faweizhao26 opened #409 "Sharing topics of Sig-Advocacy-and-Outreach meeting"
At the previous SIG meeting, I proposed a new way of running SIG meetings. In addition to going over the progress of each work, we can also have a sharing in the regular meeting to help everyone master more skills. The purpose of this issue is to record the shared topics of the subsequent meeting. If you are interested in sharing, please feel free to add topics.

- [ ] How to record a video or cou

[2022-05-24 06:28] faweizhao26 opened #410 "The host of Sig-Advocacy-and-Outreach meeting"
As we discussed in the previous regular meeting, the following regular meeting will adopt the way of rotation. The host is responsible for gathering topics before the meeting begins and presiding over the meeting.

If you are interested in hosting the meeting, please add your name and GitHub ID after the date below.

- 2022.5.24  by Fawei Zhao @faweizhao26
- 2022.6.7
- 2022.6.21
- 2022.7.5
- 2022.

[2022-07-07 01:06] ezcmd opened #412 "REQUEST: New leader for a User Group in new city"
### GitHub ID

@ezteki

### City Name

Guang Zhou

### Prerequisites for new city

- [X] The city must be initiated by at least one member of the KubeSphere community who has been active in the last six months as a leader.

### Contact information

wechat: hsdtsyl

### Reason to create a User Group for a new city

1. GuangDong is `The Second` City where community members are
2. `Prevention of COVI

[2022-07-08 02:46] FeynmanZhou commented on #412
Support! It's glad to see @ezteki for being a User Group leader in Guangzhou.

[2022-07-08 05:49] faweizhao26 commented on #412
Support！

[2022-07-08 09:19] yangchuansheng commented on #412
Support! Hope @ezteki can add to the great cloud native business in Guangzhou.

[2022-11-29 07:24] faweizhao26 commented on #353
I think this issue is out of date. So I close it now.

[2022-11-29 07:24] #353 closed

[2022-11-29 07:25] faweizhao26 commented on #412
I think this issue is out of date. So I close it now.

[2022-11-29 07:25] #412 closed

[2022-11-29 11:22] zhaohuiweixiao opened #416 "REQUEST: New membership for zhaohuiweixiao"
### GitHub Username

@zhaohuiweixiao

### Requirements

- [X] Active contribution to the project. Contributed at least one notable PR to a specific SIG codebase within half a year
- [X] Finish one or more features
- [X] Sponsored by two members of the SIG and approved by the lead of the SIG

### Sponsor 1

@harrisonliu5

### Sponsor 2

@weili520

### List of contributions to the Kubernetes project

[2022-11-30 06:48] weili520 commented on #416
Support + 1

[2022-11-30 07:12] harrisonliu5 commented on #416
support